<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html>
<title>Passbook</title>
<head>
<meta name="description" content="Bootstrap.">  
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<meta charset="utf-8">   
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin: 0;}
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top :0;
	width: 100%; 
	position: fixed;
	overflow: hidden;
	background-color: #333;
}
ul.topnav li {float: left;}
ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.active {
	font-color :white;
	font-size :25px;
	background-color: #000000;
}
ul.topnav li.right {
	font-color :white;
	font-size :20px;
	padding-top: 3px;
	background-color: #000000;
	float: right;
}
ul.topnav li.center {
	color :white;
	padding-top: 8px;
	padding-left: 500px;
	font-size :30px;
}
@media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}
body {
	/*background: url("images/dashboard.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	height : 100%;
	width : 100%;
	font-family: "Lato", sans-serif;
}
.sidenav {
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: 63   ;
	color: white;
	left: 0;
	background-color: #3081C8;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	display: block;
}
.sidenav a:hover {
	color: #f1f1f1;
}
.main {
	margin-top: 75px;
	margin-left: 200px; /* Same as the width of the sidenav */
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
#nam {
		font-size: 27px;
	text-align: center;
}
</style>
</head>
<header>
<div class="header" id="myHeader">
		 <ul class="topnav">
				<li><a class="active" href="#">Paynum</a></li>
				 
				<li class="right"><a href="/logout">Logout</a></li>
				<li class="center">Passbook</li>

			</ul>
</div>
</header>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
		<div class="sidenav">
		 <h2 id="nam"><i><u> <%=  name%> </u></h2>
			<a href="/home">Home</a>
			<a href="/profile">Profile</a>
			<a href="/paypage">Pay</a>
			<a href="/passbook">Passbook</a>
			<a href="/addMoney">Add money</a></i>
		</div>
<div class="main"> 
<div class="container">
<div class="row header" style="text-align:left;color:red">
<h3>Current Balance : <%= bal%></h3>
<h4 style="padding-right: 30px;float:right"><u><a href="#">Request Statement</a></u></h4>
<br><br><br>
</div>
<table id="myTable" class="table table-striped" >  
	<thead>  
		<tr>  
			<th>Transaction ID</th>  
			<th>Transaction Details</th>  
			<th>Amount</th>  
			<th>Time</th>  
		</tr>  
	</thead>  
		<tbody>  
	<%
		var y = myacc;
		result.reverse();
		for(var i in result) { 
		var d = result[i].Time;
		var q=0;
		var w=0;
		if(result[i].Reciever==result[i].Sender)
			q=2;
		else if(y==result[i].Sender)
			q=1;
		else
			w=1;
	%>
		<tr>
		<td><%=result[i].TransactionID%></td>
		<% if(q==2) { %>
			<td>Added to Wallet</td>
		<td style="color:#4AAC1E">+<%=result[i].Amount%></td>
		<% }
		else if(w==1) { %>
			<td>Sent to Acc No. <%=result[i].Sender%></td>
		<td style="color:red">-<%=result[i].Amount%></td>
		<% } 
		else { %> 
			<td>Received from Acc No. <%=result[i].Reciever%></td>
		<td style="color:#4AAC1E">+<%=result[i].Amount%></td>
		<% } %>
		<td><%= d %></td>
	</tr>  
	<% } %>
	</tbody>  
	</table>  
	</div>
</div>   
</body>

<script>
$(document).ready(function(){
		$('#myTable').dataTable({
			"order": [[ 0, "desc" ]],
			"lengthMenu": [[5, 10], [5, 10]]
		});
});
</script>
</html>